{% extends "base_public.html" %}

{% set page_title = "About Digital Bridge PDX" %}
{% set page_description = "Digital Bridge PDX is here to bring digital equity to the Portland metro area. We strive to bring free expert-level tech support, general tech classes, and help with needed technology bills. Come check out who we are!" %}

{% set current_page = 'about' %}

{% block main %}
    <div id="about-main">
        <h1>About Portland Digital Bridge Network</h1>
        <section id="about-mission" class="col-left col-text">
            <h2>Our Mission</h2>
            <p>Portland Digital Bridge Network is a volunteer-run initiative dedicated to providing free and accessible tech support, free technology classes, and aid for individuals in need of essential tech resources, including computers, phones, and internet access. This network aims to empower individuals with digital skills and bridge the technology gap by connecting those with knowledge and resources to those in need – without profit motives or hierarchical organization.</p>
        </section>

        <section id="about-mission-image" class="col-right col">
            <img class="responsive-image" src="../../static/assets/hands-on-mac.jpg" alt="somebody working on a MacBook"> <!-- Image from Glenn Carstens-Peters - https://unsplash.com/@glenncarstenspeters -->
        </section>

        <section id="about-story" class="col-right col-text">
            <h2>Our Story</h2>
            <h3>Introduction</h3>
            <p>Portland Digital Bridge Network began with a dream of creating equitable access to technology for all Portlanders. In Oregon, 4 in 10 residents pay over $60 monthly for broadband, which is out of reach for many. In Portland alone, 2 out of 5 low-income BIPOC households lack high-speed internet access, and 13% of Black households have neither internet nor a computer. These disparities create significant barriers to education, employment, and opportunity. We’re here to help change that.</p>
            <h3>Why We Exist</h3>
            <p>In Portland and across Oregon, there are very few mutual aid networks focused solely on providing technology access and support. Most existing resources are businesses, bound by a need to generate profit, which limits the help they can offer. Our network is dedicated to being a community-led, volunteer-driven mutual aid initiative that fills this gap by focusing solely on people, not profit.</p>
            <h3>Our Key Areas of Support</h3>
            <p>We’ve identified three main ways we can support the community to create greater digital equity:</p>
            <ol>
                <li>Free Tech Support and Repairs</li>
                <p>Traditional tech support can be expensive. Companies like Geek Squad charge $149.99 for virus removals and system repairs, and $39.99 for basic software setup. Many people need these services but cannot afford them. Our network provides free tech support and repairs, ensuring that everyone can keep their devices working without worrying about high costs.</p>
                <li>Free Tech Classes</li>
                <p>While some libraries offer basic tech classes, they are often infrequent and may not reach those who need them most. We provide in-person and virtual classes, ranging from digital literacy basics to advanced skills, ensuring everyone can learn at their own pace and from anywhere. Recorded sessions allow anyone to revisit lessons anytime, further enhancing access.</p>
                <li>Aid for Tech and Tech Related Bills</li>
                <p>In today’s world, everyone needs a device and reliable internet. We offer financial assistance for tech-related expenses like internet bills, as well as provide devices (computers, tablets, phones) to those in need. By redistributing newer tech, we also reduce e-waste, giving devices a second life where they are most needed.</p>
            </ol>
            <h3>Conclusion</h3>
            <p>We're here to bridge Portland's digital divide through mutual support, resource-sharing, and skill-building, empowering our neighbors and strengthening our community. Together, we can make technology accessible to everyone.</p>
        </section>

        <section id="about-story-image" class="col-left col">
            <img class="responsive-image" src="../../static/assets/hands-interlocking.jpg" alt="bunch of hands interlocking"> <!-- Image from Marlis Trio Akbar - https://unsplash.com/@marlis_akbar -->
        </section>
    </div>
{% endblock %}