{% extends "base_public.html" %}

{% set page_title = "Digital Bridge PDX Mutual Aid and Donations" %}
{% set page_description = "Need help with getting a new computer or phone? Need help with your internet bill? We're here to help. If you want to donate, too, we'd love to hear from you." %}

{% set current_page = 'aid_fund_donations' %}

{% block main %}
    <div id="aid-fund-donations-main">
        <h1>Our Fund & Donations</h1>
        <section id="how_fund_works">
            <h2>How it works</h2>
            <h3>When you donate</h3>
            <p>We accept either monetary or device donations from anyone who wants to give. We are completely open in what we do with our donations and where each donation goes. When you donate, we will follow up with you (unless you choose to remain anonymous) after we have used your donation. If you choose to donate a device like a computer, phone, tablet, or anything else, we will either use those for classes so people don't need to already have a device to attend a class or we will redistribute it to those in our list of people who need a new device. If you choose to donate money, we will use that money for one of a few things:</p>
            <ul>
                <li>Operational Costs - keeping our website running, paying for space to hold classes or tech support drop-ins, supplies for classes, printed materials for classes, software like Zoom, and transportation costs</li>
                <li>Devices - computers, phones, tablets, etc. for people in our list of those who need devices</li>
                <li>Internet and phone bills for those in need</li>
            </ul>
            <h4>Device Donation Guidelines</h4>
            <p>We gratefully accept most tech devices that are in working condition. Donated devices will either go directly to those in need or be used as learning tools in our classes. If you have a device that doesn't meet our requirements listed below, please contact us, and we may have a use for it anyways or can help with getting it recycled in an eco-conscious way. Here’s what we’re looking for:</p>
            <ol>
                <li value="1">Devices We Accept:</li>
                <li>
                    <ul>
                        <li>Computers (Desktops, Laptops, Chromebooks)</li>
                        <li>Tablets and Smartphones</li>
                        <li>Peripherals (monitors, keyboards, mice, power cords, etc.)</li>
                        <li>Networking Devices (routers, modems, Wi-Fi extenders, switches, firewalls, wireless access points, etc.)</li>
                        <li>Storage Devices (external hard drives, USB drives, SD cards)</li>
                        <li>Printers and Scanners</li>
                    </ul>
                </li>
                <li value="2">Condition Requirements:</li>
                <li>
                    <ul>
                        <li><strong>Working Condition:</strong> Devices should ideally be functional. Broken screens, damaged charging ports, or malfunctioning buttons are find if the device still turns on and could be repurposed.</li>
                        <li><strong>Age and Usability:</strong> Devices should generally be less than 10 years old unless they're unique (like vintage items or repairable hardware for teaching purposes).</li>
                        <li><strong>Data Security:</strong> Please erase personal data if possible. We can help with secure data wiping as needed.</li>
                    </ul>
                </li>
                <li value="3">Items We Can't Currently Accept:</li>
                <li>
                    <ul>
                        <li><strong>Devices with Irreparable Damage:</strong> Items like devices with water damage, completely dead hard drives, or severely cracked screens may be too difficult to repair or repurpose. However, we can use some of these for hands-on learning in repair classes - please check with us!</li>
                        <li><strong>Old Printers or CRT Monitors:</strong> Due to storage and disposal challenges, we may limit acceptance of these items unless specifically requested.</li>
                    </ul>
                </li>
                <li value="4">Preparing Your Donation:</li>
                <li>
                    <ul>
                        <li><strong>Remove Personal Information:</strong> Please delete any sensitive information. If you're unsure, we can securely erase data.</li>
                        <li><strong>Include Accessories:</strong> Power cords, adapters, and any original accessories are always helpful!</li>
                        <li><strong>Label Issues:</strong> If there's a known issue, please let us know. It helps us decide the best use for the device.</li>
                    </ul>
                </li>
                <li value="5">Where to Drop Off:</li>
                <li>
                    <ul>
                        <li><strong>Drop-Off Locations:</strong> We accept donations at our in-person events and scheduled drop-offs. Check our website for current locations and times.</li>
                        <li><strong>Home Pickup:</strong> For larger donations, we may be able to arrange a pickup within the Portland area.</li>
                    </ul>
                </li>
            </ol>
            <p>If you're unsure about your item or it falls outside these guidelines, reach out to us! We're always happy to discuss options.</p>

            <h3>When you need help</h3>
            <p>Please fill out the "Need Some Help?" form, <a href="tel:5038938949">call us</a>, or <a href="mailto:digitalbridgepdx@gmail.com">email us</a> if you are in need of aid. Once we get your request, we will reach out to elvauate your need and place you in our queue, depending on your need and the need of others. We prioritize BIPOC and low-income households in the Portland area, but we will work our hardest to make sure everyone gets what they need.</p>
        </section>

        <section id="need_aid_form_section">
            <h2>Need Some Help?</h2>
            <p>Fill out the form below, <a href="tel:5038938949">call us</a>, or <a href="mailto:digitalbridgepdx@gmail.com">email us</a> to get help now.</p>
            <form id="need_aid_form" method="post" action="{{ url_for('public.aid_fund_donations') }}">
                {{ need_aid_form.hidden_tag() }}
                {{ need_aid_form.form_type }}
                <div class="form-row">
                    <div class="form-label">
                        {{ need_aid_form.name.label }}<span class="required_input_indicator">*</span>:
                    </div>
                    <div class="form-field">
                        {{ need_aid_form.name }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        {{ need_aid_form.email.label }}<span class="required_input_indicator">*</span>:
                    </div>
                    <div class="form-field">
                        {{ need_aid_form.email }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        {{ need_aid_form.phone_number.label }}:
                    </div>
                    <div class="form-field">
                        {{ need_aid_form.phone_number }}
                    </div>
                </div>
                <div>
                    <p>{{ need_aid_form.aid_type.label.text }}<span class="required_input_indicator">*</span></p>
                    <ul>
                        {% for need_aid_type_subfield in need_aid_form.aid_type %}
                            <li class="form-subfield">
                                <label for="{{ need_aid_type_subfield.id }}">
                                    {{ need_aid_type_subfield }} {{ need_aid_type_subfield.label.text }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <p>{{ need_aid_form.income.label.text }}<span class="required_input_indicator">*</span></p>
                    <ul>
                        {% for need_aid_income_subfield in need_aid_form.income %}
                            <li class="form-subfield">
                                <label for="{{ need_aid_income_subfield.id }}">
                                    {{ need_aid_income_subfield }} {{ need_aid_income_subfield.label.text }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        {{ need_aid_form.message.label }}<span class="required_input_indicator">*</span>:
                    </div>
                    <div class="form-field">
                        {{ need_aid_form.message }}
                    </div>
                </div>
                <div class="form-submit">
                    {{ need_aid_form.submit }}
                </div>
            </form>
        </section>

        <section id="donate_form_section">
            <h2>Looking to Donate?</h2>
            <p>Fill out the form below, <a href="tel:5038938949">call us</a>, or <a href="mailto:digitalbridgepdx@gmail.com">email us</a> to get donate now.</p>
            <form id="donate_form" method="post" action="{{ url_for('public.aid_fund_donations') }}">
                {{ donate_form.hidden_tag() }}
                {{ donate_form.form_type }}
                <div class="form-row">
                    <div class="form-label">
                        {{ donate_form.name.label }}<span class="required_input_indicator">*</span>:
                    </div>
                    <div class="form-field">
                        {{ donate_form.name }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        {{ donate_form.email.label }}<span class="required_input_indicator">*</span>:
                    </div>
                    <div class="form-field">
                        {{ donate_form.email }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        {{ donate_form.phone_number.label }}:
                    </div>
                    <div class="form-field">
                        {{ donate_form.phone_number }}
                    </div>
                </div>
                <div>
                    <p>{{ donate_form.donate_type.label.text }}</p>
                    <ul>
                        {% for donate_subfield in donate_form.donate_type %}
                            <li class="form-subfield">
                                <label for="{{ donate_subfield.id }}">
                                    {{ donate_subfield }} {{ donate_subfield.label.text }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        {{ donate_form.message.label }}:
                    </div>
                    <div class="form-field">
                        {{ donate_form.message }}
                    </div>
                </div>
                <div class="form-submit">
                    {{ donate_form.submit }}
                </div>
            </form>
        </section>
    </div>
{% endblock %}